body{
        font-family:"helvetica neue", helvetica, arial, sans-serif;
        font-size:12px;
        background-color:#fff;
        color:#000;
}
#container{
        width:600px;
        margin-left:auto;
        margin-right:auto;
        margin-top:25px;
        margin-bottom:10px;
}

h1 {

  color: #ccc;
  font-size: 36px;
  letter-spacing: -0.05em;
  line-height: 39px;
  padding-bottom: 9px;
}

h1 a {
  color: #ccc;
}

h1 span.sub {
  font-size: 0.5em;
  letter-spacing: 0em;
}

h1 span.sub a {
  color: #999;
}

h1 span.sub a:hover {
  color: #999;
  background: #fff;
  text-decoration: underline;
}

h2 {
  font-size: 1.333em;
  line-height: 1em;   /* 16px */
  margin-top: -2px;
  margin-bottom: 2px;

/*
  line-height: 0.8125em;   /* 16px */
*/
  letter-spacing: -0.03em;
/*
  margin-left: 0.5em;
*/
  color: #999;
/*
  padding-top: 0.5em;
  padding-bottom: 0.33em;
  margin-bottom: 0.1em;
  border-bottom: 0.07em solid #999;
*/
}

h2.big {
  padding-top: 1em;
}

h2 span.time {
  font-size: 0.5em;
  line-height: 0em;
  color: #666;
/*
  background: #fff;
*/
  text-align:right;
}

h3 {
  font-size: 2em;
  line-height: 1.333em;
  letter-spacing: -0.05em;
}

p,div {
  font-family:"helvetica neue", helvetica, arial, sans-serif;
        line-height:1.333em;
        margin:0 0 1.333em 0;
}

ul {
        margin:0 0 0 0;
}
ul li {
  list-style-type: disc;
  margin-left:0;
  padding:0;
}

ul ul li {
  list-style-type: circle;
  margin-left: 0;
  padding:0;
}

img {
  border: 0px;
}

a {
  text-decoration: none;
  color: #00f;
/*
  background: #fff;
*/
}

a:hover {
  color: #fff;
  background: #00f;
}

dt{font-weight:900;}